
@import url('https://fonts.googleapis.com/css2?family=Georama&family=Inter&family=Neucha&family=Nunito&family=Open+Sans&family=Raleway:wght@200&family=Roboto+Mono:ital@1&family=Roboto:wght@300&family=Work+Sans:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




